.background-container {
  background-image: url('./components/buisnes/Screenshot 2024-01-19 at 18.37.41.png');
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
